# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# WhatsApp Web.js session/auth
.wwebjs_cache/
.wwebjs_auth/

# OS files
.DS_Store
Thumbs.db

# Optional build folders
dist/
